@media (max-width: 960px){
    .slick-prev, .slick-next{
        display: none !important;
    }
    .items__inner{
        flex-direction: column;
    }
    .item{
        width: 100%;
        margin-bottom: 50px;
    }
    .item__title{
        margin-bottom: 20px;
    }
}
@media (max-width: 800px){
    .footer__inner{
        flex-wrap: wrap;
    }
    .footer__contact{
        width: 80%;
    }
}

@media (max-width: 650px){
    .slider__info{
        bottom: 0;
        max-width: 100%;
        left: 0;
        right: 0;
    }
    .slider__thumbs{
        display: none;
    }
    .footer__item{
        width: 100%;
    }
}


@media (max-width: 600px){
    .header__menu > ul{
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        z-index: 2;
        background: #fff;
        padding-bottom: 20px;
    }
    .header__menu li {
        display: block;
        text-align: center;
        padding: 10px 0;
    }
    .header__menu li + li{
        margin: 0;
    }
    .header__menu li a{
        display: block;
    }
    .header__menu-btn{
        display: block;
    }
}

@media (max-width: 479px){
    .works__item{
        width: 100%;
    }
    .works__item-photo{
        width: 100%;
    }
    .footer__inner {
        padding: 35px 5px 30px;
    }
}




@media (min-width: 960px){
    .header__menu > ul{
        display: block !important;
    }
}


